*.obj
*.ilk
*.exe
*.pdb
*.md
.gitmodules
.gitignore
TODO.txt
tree.txt
reqmts.txt
cmd_line_args.txt

build/
*.exe
*.obj
*.pdb
*.ilk
# MSVC
*.idb
*.tlog
*.log

# VS folders
.vs/

# Optional: ignore VS Code settings
.vscode/

CDR/
.claude/
datafiles/
external/
